<md-dialog flex="80" flex-sm="60" flex-md="45" flex-gt-md="35" flex-gt-lg="25">

    <md-dialog-content class="text-center">

        Are you sure you want to delete this task?

    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="center center">
        <md-button class="md-primary" ng-click="$vm.actionCancelDialog();" aria-label="CANCEL">
            <span>CANCEL</span>
        </md-button>
        <md-button class="md-primary" ng-click="$vm.actionDelete();" aria-label="DELETE COUNT">
            <span>DELETE</span>
        </md-button>
    </md-dialog-actions>

</md-dialog>
    