<md-content id="todo-list-page">

    <peach-page-header>

        <h1>TODO List</h1>

    </peach-page-header>

    <peach-message ng-if="$todo.info.message" type="{{ $todo.info.type }}">
        {{ $todo.info.message }}
    </peach-message>

    <peach-card loading="$todo.blockers.initializing">

        <peach-card-content>

            <md-list>

                <md-list-item ng-repeat="task in $todo.tasks">
                    <span>{{ ::task.description }}</span>
                    <md-checkbox
                      class="md-secondary"
                      ng-model="task.is_complete"
                      ng-model-options="$todo.ngModelOptions"
                      ng-change="$todo.onTaskStatusChange(task)"
                      ng-disabled="$todo.blockers.api_processing"
                      aria-label="Is Complete"
                    ></md-checkbox>
                </md-list-item>

            </md-list>

        </peach-card-content>

    </peach-card>

</md-content>
