<md-content id="todo-list-page">

    <peach-page-header>

        <h1>TODO List</h1>

        <peach-page-header-options
          ng-if="!$todo.blockers.initializing"
          options="$todo.headerOptions" >
        </peach-page-header-options>

    </peach-page-header>

    <peach-message ng-if="$todo.info.message" type="{{ $todo.info.type }}">
        {{ $todo.info.message }}
    </peach-message>

    <peach-card loading="$todo.blockers.initializing">

        <peach-card-content>

            <md-list>

                <md-list-item ng-repeat="task in $todo.tasks" class="md-2-line md-no-proxy">
                    <div class="md-list-item-text" layout="column" ng-class="{'line-through': task.is_complete}">
                        <h3>
                            {{ :: task.description }}
                        </h3>
                        <p>
                            <span>Assigned to: {{ :: task.assignedUsername }}</span>
                            <span ng-if="::task.due_date" class="due-date">Due date: {{ :: task.due_date }}</span>
                            <span ng-if="::!task.due_date">No due date set</span>
                        </p>
                    </div>
                    <md-button
                      ng-if="::$todo.tasksEditingAllowed"
                      md-no-ink
                      class="md-secondary md-accent"
                      ng-click="$todo.actionOpenTaskModal(task.id)"
                      aria-label="Edit">
                        Edit
                    </md-button>
                    <md-checkbox
                      class="md-secondary"
                      ng-model="task.is_complete"
                      ng-model-options="$todo.ngModelOptions"
                      ng-change="$todo.onTaskStatusChange(task)"
                      ng-disabled="$todo.blockers.api_processing"
                      aria-label="Is Complete"
                    ></md-checkbox>
                </md-list-item>

            </md-list>

        </peach-card-content>

    </peach-card>

</md-content>
